:root {
    --header-color: #f9c901;
    --button-color: #985b10;
}

* {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fffacd;
}

.navbutton {
    padding: 5px;
    background-color: #985b10;
    margin: 10px;
}

.navbutton a {
    text-decoration: none;
    color: white;
}

.navbutton:hover {
    color: blue;
}

#navbutton a:checked {
    color:aqua;
}

header {
    background-color: var(--header-color);
    width: 100vw;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header-content {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#logo {
    min-width: 100px;
    max-width: 200px;
    height: auto;
    margin: 15px 15px;
    border-radius: 50%;
    border: 10px solid var(--button-color);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

header h2 {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header-color);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#honey_stand {
    display: block;
    width: 35%;
    min-width: 200px;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
}

.address {
    font-style: italic;
    margin: auto auto;
}

.companyname {
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 2px;
}

.mapbutton {
    margin-top: 5px;
    padding: 5px;
    background-color: #985b10;
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    font-size: 14px; 
    transition: background-color 0.3s; 
    margin-bottom: 2px;
}
.mapbutton:hover {
    background-color: rgba(0, 0, 255, 1); /* Add a darker blue when hovering */
}
.mapbutton:checked {
    background-color: rgba(0, 0, 255, .5); /* Add a darker blue when hovering */
}

/* Icons */
.fa {
    padding: 10px 0;
    font-size: 36px;
    width: 36px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    margin: 5px;
}

.fa:hover {
    opacity: 0.7;
}

/* Facebook icon */
.fa-facebook {
background: var(--background-color);
color: var(--button-color);
}

.fa-instagram {
background: var(--background-color);
color: var(--button-color);
}

/* Media query for larger screens */
@media (min-width: 768px) {
    .header-content {
        flex-direction: row; /* Stack logo and text vertically */
        align-items: center;
    }

    .header-text {
        text-align: center;
    }

    header h2 {
        font-size: 1.25rem; /* Larger font size for larger screens */
    }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column; /* Stack the logo and nav bar vertically */
        align-items: center;    /* Center align the elements */
        padding: 10px;
    }

    #honeybee {
        width: 70%; /* Make the logo smaller for smaller screens */
        margin-bottom: 10px;
    }

    header h2 {
        font-size: 1rem; /* Smaller font size for smaller screens */
    }
}