body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    margin: 0 auto;
}
img {
    display: block;
    max-width: 50%;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
}
.address {
    font-style: italic;
}