:root {
    --header-color: rgb(249, 249, 93);
}

* {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #fffacd;
}

#navbutton {
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.75);
    margin: 10px;
}

#navbutton a {
    text-decoration: none;
    color: white;
}

#navbutton a:hover {
    color: grey;
}

#navbutton a:checked {
    color:aqua;
}

header {
    background-color: var(--header-color);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

header h1 {
    margin: 0;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

header h2 {
    margin: 0;
    font-size: 1rem;
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--header-color);
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

img {
    display: block;
    width: 35%;
    min-width: 100px;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    margin: 20px auto;
}

.address {
    font-style: italic;
    margin: auto auto;
}

.companyname {
    font-size: 16px;
    margin: 0 auto;
    padding-bottom: 2px;
}

.mapbutton {
    margin-top: 5px;
    padding: 5px;
    background-color: rgba(0, 0, 255, 0.75); /* Green background */
    color: white; /* White text */
    border: none; /* Remove borders */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer/hand icon */
    font-size: 14px; /* Increase font size */
    transition: background-color 0.3s; 
    margin-bottom: 2px;
}
.mapbutton:hover {
    background-color: rgba(0, 0, 255, 1); /* Add a darker blue when hovering */
}
.mapbutton:checked {
    background-color: rgba(0, 0, 255, .5); /* Add a darker blue when hovering */
}

#honeybee {
    width: 100%;
    max-width: 100px;
    height: auto;
    border: 0;
    padding: 0;
    margin: 0 auto;
}   